@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

$bgcolor: rgba(237, 237, 237, 1);
$bggrad: linear-gradient(to bottom right, #FFAFBD, #ffc3a0);
$basefont: 'Open Sans', sans-serif;
$basefont2: 'Merriweather', serif;
$boxcolor: rgba(255, 255, 255, 0.6);
$headcolor: rgba(114, 114, 114, 1);